* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Utility */
/* wrapper */
[class*="ms_wrapper_"] {
    margin: 0 auto;
}

.ms_wrapper_40 {
    width: 40%;
}

.ms_wrapper_60 {
    width: 60%;
}

/* margin */
.ms_margin_top_60 {
    top: 60px;
}
.ms_margin_bottom_60 {
    bottom: 60px;
}

.ms_margin_top_30 {
    top: 30px;
}
.ms_margin_bottom_30 {
    bottom: 30px;
}

.ms_margin_top_15 {
    top: 15px;
}
.ms_margin_bottom_15 {
    bottom: 15px;
}

/* padding */
.ms_padding_top_60 {
    padding-top: 60px;
}
.ms_padding_bottom_60 {
    padding-bottom: 60px;
}

.ms_padding_top_30 {
    padding-top: 30px;
}
.ms_padding_bottom_30 {
    padding-bottom: 30px;
}

.ms_padding_top_15 {
    padding-top: 15px;
}
.ms_padding_bottom_15 {
    padding-bottom: 15px;
}

/* bg colors */
.ms_bg_red {
    background-color: #DA5F60E6;
}

/* header */
header {
    width: 100%;
    height: 75vh;
    padding: 3vh;
}

.ms_top_header {
    height: 8vh;
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.ms_header_logo {
    width: 250px;
    height: 60px;
}

.ms_navbar {
    list-style: none;
}
.ms_navbar li {
    display: inline-block;
}

.ms_header_banner {
    height: 61vh;
}

/* main */
.ms_browse_courses,
.ms_latest_courses,
.ms_partners {
    height: 40vh;
}

.ms_faculties_available {
    height: 50vh;
}

.ms_universtity_events {
    height: 80vh;
}

.ms_latest_courses {

}

.ms_discover {
    height: 60vh;
}

.ms_newsletter {
    height: 10vh;
}

.ms_partners {

}

/* footer */
footer {
    width: 100%;
    height: 35vh;
}

footer .ms_wrapper_60 {
    height: 100%;
}