* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    /* font-family: 'Fredoka One', cursive; */
}
/* Utility */
/* wrapper */
[class*="ms_wrapper_"] {
    margin: 0 auto;
}

.ms_wrapper_40 {
    width: 40%;
}

.ms_wrapper_60 {
    width: 60%;
}

/* margin */
.ms_margin_top_60 {
    top: 60px;
}
.ms_margin_bottom_60 {
    bottom: 60px;
}

.ms_margin_top_30 {
    top: 30px;
}
.ms_margin_bottom_30 {
    bottom: 30px;
}

.ms_margin_top_15 {
    top: 15px;
}
.ms_margin_bottom_15 {
    bottom: 15px;
}

/* padding */
.ms_padding_top_60 {
    padding-top: 60px;
}
.ms_padding_bottom_60 {
    padding-bottom: 60px;
}

.ms_padding_top_30 {
    padding-top: 30px;
}
.ms_padding_bottom_30 {
    padding-bottom: 30px;
}

.ms_padding_top_15 {
    padding-top: 15px;
}
.ms_padding_bottom_15 {
    padding-bottom: 15px;
}

/* bg colors */
.ms_bg_red {
    background-color: #DA5F60E6;
}

.ms_bg_yellow_txt_white {
    background-color: #E9D758;
    color: #fff;
}

/* buttons */
.btn {
    border-radius: 40px;
    text-align: center;
    cursor: pointer;
}

.btn_md {
    padding: 5px 10px;
}
.btn_lg {
    padding: 15px 50px;
}

/* colors */
.ms_txt_white {
    color: #fff;
}

/* general */
a {
    text-decoration: none;
    color: #fff;
}

a.ms_list::after {
    font-family: 'Font Awesome 5 Free';
    content: '\f0d7';
    font-weight: 600;
    font-size: 0.8em;
    padding-left: 10px;
}
/* header */
header {
    width: 100%;
    height: 75vh;
    background-image: url('../img/bg/theme_slider2_bg-1.jpg');
    background-position: center;
    background-size: 100% 100%;
}
.ms_header_overlay {
    background-color: #DA5F60E6;
    width: 100%;
    height: 100%;
    padding: 5vh;
}

.ms_top_header {
    height: 8vh;
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.ms_header_logo {
    width: 250px;
    height: 60px;
}

nav {
    display: flex;
    align-items: center;
}

.ms_navbar {
    list-style: none;
}
.ms_navbar li {
    display: inline-block;
    font-size: 18px;
    font-family: 'Fredoka One', cursive;
    margin-right: 30px;
}

.ms_header_banner {
    height: 57vh;
}

/* main */
.ms_browse_courses,
.ms_latest_courses,
.ms_partners {
    height: 40vh;
}

.ms_faculties_available {
    height: 50vh;
}

.ms_universtity_events {
    height: 80vh;
}

.ms_latest_courses {

}

.ms_discover {
    height: 60vh;
}

.ms_newsletter {
    height: 10vh;
}

.ms_partners {

}

/* footer */
footer {
    width: 100%;
    height: 35vh;
}

footer .ms_wrapper_60 {
    height: 100%;
}