* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    /* font-family: 'Fredoka One', cursive; */
}
/* Utility */
/* wrapper */
[class*="ms_wrapper_"] {
    margin: 0 auto;
}

.ms_wrapper_40 {
    width: 40%;
}

.ms_wrapper_60 {
    width: 60%;
}

.ms_wrapper_70 {
    width: 70%;
}

/* margin */
.ms_margin_top_60 {
    margin-top: 60px;
}
.ms_margin_bottom_60 {
    margin-bottom: 60px;
}

.ms_margin_top_30 {
    margin-top: 30px;
}
.ms_margin_bottom_30 {
    margin-bottom: 30px;
}

.ms_margin_top_15 {
    margin-top: 15px;
}
.ms_margin_bottom_15 {
    margin-bottom: 15px;
}

/* padding */
.ms_padding_top_60 {
    padding-top: 60px;
}
.ms_padding_bottom_60 {
    padding-bottom: 60px;
}

.ms_padding_top_30 {
    padding-top: 30px;
}
.ms_padding_bottom_30 {
    padding-bottom: 30px;
}

.ms_padding_top_15 {
    padding-top: 15px;
}
.ms_padding_bottom_15 {
    padding-bottom: 15px;
}

/* bg colors */
.ms_bg_red {
    background-color: #E56768;
}

.ms_bg_yellow_txt_white {
    background-color: #E9D758;
    color: #fff;
}

.ms_bg_white_txt_red {
    background-color: #fff;
    color: #DA5F60E6;
}

.ms_bg_red_txt_white {
    background-color: #DA5F60E6;
    color: #fff;
}

/* buttons */
.btn {
    border-radius: 40px;
    text-align: center;
    font-family: 'Fredoka One', cursive;
    cursor: pointer;
}

.btn_md {
    padding: 5px 10px;
}
.btn_lg {
    padding: 20px 50px;
}

/* colors */
.ms_txt_white {
    color: #fff;
}
.ms_txt_black {
    color: #3D404F;
}
.ms_txt_grey {
    color: #5C5E6C;
}
.ms_txt_lightgrey {
    color: #8B8B8A;
}
.ms_txt_red {
    color: #DA5F60E6;
}
/* general */
a {
    text-decoration: none;
    color: #fff;
}

a.ms_list::after {
    font-family: 'Font Awesome 5 Free';
    content: '\f0d7';
    font-weight: 600;
    font-size: 0.8em;
    padding-left: 10px;
}
h1,
h2,
h3,
h4,
h5 {
    font-family: 'Fredoka One', cursive;
    margin: 15px 0;
    font-weight: 300;

}

p {
    font-size: 0.9em;
}

img.ms_img_icon {
    width: 60px;
}

/* header */
header {
    position: relative;
    width: 100%;
    height: 75vh;
    background-image: url('../img/bg/theme_slider2_bg-1.jpg');
    background-position: center;
    background-size: 100% 100%;
}
.ms_header_overlay {
    background-color: #DA5F60E6;
    width: 100%;
    height: 100%;
    padding: 5vh;
}

.ms_top_header {
    height: 8vh;
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.ms_header_logo {
    width: 250px;
    height: 60px;
}

nav {
    display: flex;
    align-items: center;
}

.ms_navbar {
    list-style: none;
}
.ms_navbar li {
    display: inline-block;
    font-size: 18px;
    font-family: 'Fredoka One', cursive;
    margin-right: 30px;
}

/* header banner */
.ms_header_banner {
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}
.ms_header_banner h2 {
    font-size: 4em;
}
.ms_header_banner p {
    font-size: 1.3em;
    line-height: 40px;
}
.ms_btn_container a{
    margin-right: 20px;
}

.ms_wave_bg {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    width: 100%;
    height: 12vh;
    background-image: url('../img/bg/Wave-1.png');
    background-position: center;
}

/* main */
.ms_browse_courses,
.ms_latest_courses,
.ms_partners {
    
}

/* browse courses */
#browse {
    background-image: url('../img/bg/home-background.png');
    height: 65vh;
}

.ms_browse_courses {
    display: flex;
    align-items: center;
}

.ms_browse_text_container,
.ms_browse_img_container {
    width: 50%;
    height: 100%;
}

.ms_browse_text_container h2 {
    font-size: 3em;
    font-weight: 300;
}

.ms_browse_img_container img{
    width: 90%;
    height: auto;
    margin-left: 25%;
    margin-top: 20%;
}

/* faculties available */
.ms_faculties_available {
    text-align: center;
}

.ms_faculties_available h2 {
    font-size: 3em;
}

.ms_faculties_bg {
    width: 100vw;
    height: 18vh;
    box-shadow: 1px 1px 12px #ECECEE;
}

.ms_faculties_container {
    display: flex;
    height: 100%;
}

.ms_single_faculty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: calc(100% / 5);
    border: 1px solid #ECECEE;
}
.ms_single_faculty img {
    width: 80px;
}
.ms_single_faculty.ms_bg_red_txt_white {
    position: relative;
}
.ms_single_faculty.ms_bg_red_txt_white::after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 15px 15px 0;
    border-color: #DA5F60E6 transparent;
    display: block;
    width: 0;
    z-index: 1;
    bottom: -15px;
    left: 90px;
}
.ms_single_faculty.ms_bg_red_txt_white img {
    filter: brightness(10);
}

.ms_faculty_clicked {
    display: flex;
}
.ms_faculty_img_container,
.ms_faculty_text_container {
    height: 100%;
    width: 50%;
}
.ms_faculty_text_container h2 {
    font-size: 2.5em;
}
.ms_second_wave {
    width: 100vw;
    height: 20vh;
    background-image: url('../img/bg/svg-0.svg');
}

/* university */
.ms_universtity_events {
    height: 80vh;
}
/* university year */
.ms_university_year {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ms_university_year h2 {
    font-size: 3.6em;
} 
.ms_timeline_container {
    position: relative;
    width: 100%;
    height: 50vh;
}

.ms_event_line {
    position: relative;
    margin: 150px 0;
}
.ms_event_line img {
    position: relative;
}

.ms_timeline_content {
    text-align: center;
    width: 350px;
}

.ms_timeline_content p{
    color: #FFFFFFCC;
}

#orientation {
    position: absolute;
    bottom: 45px;
    left: 40px;
}

#demo_classes {
    position: absolute;
    top: 40px;
    left: 260px;
}

#evaluation {
    position: absolute;
    bottom: 45px;
    right: 280px;
}

#graduation_day {
    position: absolute;
    top: 40px;
    right: 60px;
}

/* upcoming events */

/* latest courses */

.ms_latest_courses {

}

.ms_discover {
    height: 60vh;
}

.ms_newsletter {
    height: 10vh;
}

.ms_partners {

}

/* footer */
footer {
    width: 100%;
    height: 35vh;
}

footer .ms_wrapper_60 {
    height: 100%;
}